/* gives everything within the document these standards */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* gives the main section of the document this color */
body {
    background-color: #d9dcd6;
}
/* gives the header it's standards; 20px of padding and white text on a blue background */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* makes sure the logo stays in place and is the correct size */
h1 {
    display: inline-block;
    font-size: 48px;
}
/* gives the logo special styling- specifically a darker color for the letters SEO */
.seo {
    color: #d9dcd6;
}
/* ensures the icons in the top right *stay* in the top right, as well as gives it it's form and function. */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* erases the list designator from these items and further adjusts the icons' positions and size. */
ul li {
    list-style-type: none; 
    display: inline-block;
    margin-left: 25px;
}
/* gives the list items (icons) the color of the header */
a {
    color: #ffffff;
    text-decoration: none;
}
/* sets the size of the paragraphs within the main body. */
p {
    font-size: 16px;
}
/* for giving the main images their positioning; collapsing them into their respective img tags didn't help any. */
.float-right {
float: right;
margin: left 25px;    
}
/* for giving the main images their positioning; collapsing them into their respective img tags didn't help any. */
.float-left {
float:left;
margin: right 25px;    
}
/* gives the size, position, and source for the background image of the site. */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* sets the standards for the main block of the page. */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* sets the standards for each main section. */
.main-article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* standards for images in article. */
.main-article img {
    max-height: 200px;
}
/* standards for headers in main block. */
.main-article h2 {
    margin-bottom: 20px;
    font-size: 36px;
    text-align: center;
}

/* sets the standards for the benefits bar on the side of the page. */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* standards for each section of the benefits bar. */
.benefit-section {
    margin-bottom: 32px;
    color: #ffffff;
}
/* positions the headers in the benefits sidebar. */
.benefit-section h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* orients the images in the benefits sidebar. */
.benefit-section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* keeps element at the bottom with the clear tag; sets the standards for the footer. */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* sizes the header for the footer. */
footer h2 {
    font-size: 20px;
}